name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Verify Docker
      run: docker version

    - name: Verify Docker Compose
      run: docker compose version

    - name: Copy .env.example to .env
      run: cp ./intigrationtest/.env.example ./intigrationtest/.env

    - name: Run integration script
      run: npm run test:integration
